.goal-page .goal-info {
    padding: 30px 0px;
}

.goal-page .progressbar {
    margin-bottom: 25px;
}

.pagination-wrapper {
    position: fixed;
    bottom: 60px;
}

.pagination-container {
    margin: auto;
}