.filter-header {
    display: flex;
    padding: 20px ;
    justify-content: space-between;
    column-gap: 20px;
}


.filter-header .search-bar {
    flex-grow: 3;
    display: flex;
}

.filter-header .search-bar .search {
    width: 60%;
    
    padding: 8px 12px;
    font-size: 16px;
    outline: none !important;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
}

.filter-header .select {
    flex-grow: 1;
    flex-basis: 10%;
}



@media (max-width: 992px) {
    .filter-header .search-bar .search {
        width: 100%
    }
}