.header .btn-search {
    transition: all ease-in-out .25s;
}

.header .btn-search:hover {
    background-color: rgb(81, 88, 187);
    color: #FFF;
}

.nav-account {
    color: #0000008c;
    text-decoration: none !important;
    margin-top: 8px;
    margin-right: 10px;
}

.dropdown .dropdownItem:hover {
    background-color: rgb(81, 88, 187);
    color: #FFF;
}

.dropdown .dropdownItem:hover  > * {
    color: #FFF;
}

.accountItem:hover .nav-account {
    color: #FFF;
}