
.tasks {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 60px;
    justify-content: space-around;
}

.pagination-wrapper {
    position: fixed;
    bottom: 60px;
}

.pagination-container {
    margin: auto;
}