
.goal-container  {
    width: 28%;
}
.actions-container {
    display: flex;
    justify-content: space-around;
}

.actions-container .btn {
    margin-right: 10px;
}

.card-header {
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .goal-container {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .goal-container {
        width: 80%
    }
}