.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 25%;
    margin: 0 auto;
}

.input-task-title, .input-task-link {
    text-align: center;
}

