
.checkbox {
    transform: scale(1.5);
    margin-right: 11px;
  }

  .task  {
    width:30%;
}

  .task .task-controls {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }

  .task .task-title {
    display: flex;
    align-items: baseline;
  }
  
.task  .task-info{
    text-align: left;
  }

  .task .task-info .task-title h5 {
    color: #242424;
  }

.task .card-body {
    display: flex;
    justify-content: space-between;
  }

.task .task-actions {
    display: flex;
   align-items: self-end;
}
.task .goal-title p {
  margin-bottom: 0 !important;
}

.task .task-actions .btn {
    margin-right: 10px;
}
  
.bg-success .goal-title p {
  color: #DEDEDE;
}

.bg-success .task-info .task-title h5 {
  color: #FFF;
}

.bg-uncomplete {
  background-color: #e0e0de;
  color: #000;
}

.bg-uncomplete .goal-title p {
  color: #757575;
}

@media (max-width: 1200px) {
  .task {
      width: 45%;
  }
}

@media (max-width : 766px) {
  .task {
    width: 100%;
}
}
