
.checkbox {
    transform: scale(2);
    margin-right: 11px;
  }

  .task  {
    width:40%;
}

  .task .task-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.task  .task-parents{
    text-align: left;
  }

  .task .card-body {
    display: flex;
    justify-content: space-between;
  }

  .task .task-actions {
    display: flex;
   align-items: self-end;
}

.task .task-actions .btn {
    margin-right: 10px;
}
  
.bg-complete {
  background-color: #CCEEBC;
  color: #000;
}

.bg-uncomplete {
  background-color: #E7CEA6;
  color: #000;
}

@media (max-width: 1200px) {
  .task {
      width: 100%;
  }
}
